{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit Recipe</div>

                    <div class="card-body">
                        <form action="{% url 'recipe_update' recipe.id %}" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Update Recipe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
