<!-- recipes/recipe_confirm_delete.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ recipe.picture.url }}" class="card-img-top img-fluid" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">Preparation Time: {{ recipe.preparation_time }}</p>
                    <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
                    <p class="card-text">Instructions: {{ recipe.instructions }}</p>
                    <p class="card-text">Creator: {{ recipe.creator }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="container">
                <h2>Confirm Deletion</h2>
                <p>Are you sure you want to delete the recipe "{{ recipe.title }}"?</p>
                <form action="{% url 'recipe_delete' recipe.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
