{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(static/img/bg-img/bg2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="1000ms">
                                <h2 data-animation="fadeInUp" data-delay="2000ms">Breakfast:</h2>
                                <p data-animation="fadeInUp" data-delay="2000ms"> "Start your day right with a hearty breakfast, fueling you with energy for the morning ahead."</p>
                                <a href="{% url 'all_recipes' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="2000ms">See More Receipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(static/img/bg-img/bg5.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="1000ms">
                                <h2 data-animation="fadeInUp" data-delay="2000ms">Lunch:</h2>
                                <p data-animation="fadeInUp" data-delay="2000ms"> "Savor a delicious midday meal, balancing flavors and nutrients to keep you satisfied throughout the day."</p>
                                <a href="{% url 'all_recipes' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="2000ms">See Lunch ideas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(static/img/bg-img/bg1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="1000ms">
                                <h2 data-animation="fadeInUp" data-delay="2000ms">Dinner:</h2>
                                <p data-animation="fadeInUp" data-delay="2000ms"> "Indulge in a delightful evening feast, winding down with flavors that tantalize the taste buds and nourish the body."</p>
                                <a href="{% url 'all_recipes' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="2000ms">See More Dinner Receipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Recipe Cards -->
    <div class="container">
        <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ recipe.picture.url }}" class="card-img-top img-fluid" alt="{{ recipe.title }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-info">Details</a>
                        </div>
                        <!--
                        <p class="card-text">Preparation Time: {{ recipe.preparation_time }}</p>
                        <p class="card-text">Ingredients: {{ recipe.ingredients }}</p>
                        <p class="card-text">Instructions: {{ recipe.instructions }}</p>
                        -->
                        <p class="card-text">Creator: {{ recipe.creator }}</p>
                        <p class="card-text">Category: {{ recipe.category }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/bg4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2>Log In to See All Recipes</h2>
                        <p> "Log in to discover our collection of mouthwatering recipes waiting to tantalize your taste buds!"</p>
                        <a href="{% url 'login' %}" class="btn delicious-btn">Log In </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Quote Subscribe Area Start ##### -->
    <section class="quote-subscribe-adds">
        <div class="container">
            <div class="row align-items-end">
                <!-- Quote -->
                <div class="col-12 col-lg-4">
                    <div class="quote-area text-center">
                        <span>"</span>
                        <h4>Nothing is better than going home to family and eating good food and relaxing</h4>
                        <p>John Smith</p>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-12 col-lg-4">
                    <div class="newsletter-area">
                        <h4>Subscribe to our newsletter</h4>
                        <!-- Form -->
                        <div class="newsletter-form bg-img bg-overlay" style="background-image: url(static/img/bg-img/bg7.jpg);">
                            <form action="{% url 'subscribe_newsletter' %}" method="post"> <!-- Update the action attribute -->
                                {% csrf_token %}
                                <input type="email" name="email" placeholder="Subscribe to newsletter">
                                <button type="submit" class="btn delicious-btn w-100">Subscribe</button>
                            </form>
                            <p> "Stay updated with our latest news and offers. Subscribe to our newsletter today!"</p>
                        </div>
                    </div>
                </div>

                <!-- Adds -->
                <div class="col-12 col-lg-4">
                    <div class="delicious-add">
                        <img src="{% static 'img/bg-img/add.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Quote Subscribe Area End ##### -->

    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Follow Us Instragram</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta1.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta2.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta3.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta4.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta5.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta6.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta7.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

{% endblock %}
